---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Jekyll Template for Project Websites</h1>
        <p>Another paragraph.</p>
        <p>Simple and modern design for publishing blog posts, documentation and many more things for your project.
          You can now clone and start to create a website for your project like this one.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Learn more</a></p>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad">What is Jekyll?</h2>
            <blockquote>
              <p>Jekyll is a simple, blog-aware, static site generator. It takes a template
              directory containing raw text files in various formats, runs it through
              a converter (like <a href="https://daringfireball.net/projects/markdown/">Markdown</a>)
              and our <a href="https://github.com/Shopify/liquid/wiki">Liquid</a> renderer, and
              spits out a complete, ready-to-publish static website suitable
              for serving with your favorite web server. Jekyll also happens to be the engine
              behind <a href="https://pages.github.com">GitHub Pages</a>, which means you can use Jekyll
              to host your project’s page, blog, or website from GitHub’s servers <strong>for
              free</strong>.</p>
            </blockquote>
        </div>
        <div class="col-md-6 text-center">
            <img src="img/jekyll-dark.png" alt="" class="img-responsive">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i></h1>
            <h3 class="text-center">Easy to install and publish</h3>
            <p>Get started by clonening source into GitHub account of your project. Thanks to <a href="https://pages.github.com">GitHub Pages</a>,
              it will be automatically compiled and publsihed under your project's subdomain on `github.io`.
            </p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>
            <h3 class="text-center">Modular Styling and Templating</h3>
            <p>This template uses <a href="https://github.com/twbs/bootstrap-sass">bootstrap-sass</a> along with <a href="https://bootswatch.com/">Bootwatch themes</a>.
            You can change the theme or write your custom by overwriting bootstrap sass variables for different color set, font options, etc.</p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-code-fork" aria-hidden="true"></i></h1>
            <h3 class="text-center">Git based source control</h3>
            <p>Leverege from Git version control system by
              maintaining your documentation along with the source code; publish the page when you merge to the master branch.</p>
        </div>
    </div>


</div>
